*.json
*.sqlite
*.db
Logiciel/source/.vs/source/v16/.suo
3d094d02f3d104b8fca463e855373f2cfaa5e001
*.opendb
*.pro
*.user
*.Release
*.Debug
Logiciel/bin/Makefile
*.o
Logiciel/bin/debug/Logiciel.exe
*.stash
*.autosave
*.stash
*.o
*.o
Logiciel/bin/Makefile
*.Debug
*.Release
*.pro
*.user
build-Logiciel-Desktop_Qt_5_12_6_MinGW_64_bit-Release/Makefile
